.user-png{
    width:40px;
    height:40px;
}

.navbar-brand{
    color:#fe2a00de;
}

.btn-nav{
    background-color:rgba(240, 0, 24, 0.87) ;
    border-radius:10px;
    color:white !important;
    font-weight:bold;

}